@using Entities.Models
@model IQueryable<Product>



@section Header {
    <!-- section ile sadece bu sayfaa ozel seyler ekledik -->

}

<div class="row row-cols-2 row-cols-md-3 g-2">
    @foreach (Product prd in Model)
    {
        
        <partial name="_ProductCard" model="@prd" /> <!-- _ProductCard partialini cagirdik ve model olarak prd verdik -->
    }
</div>